<div class="row">
  <div class="col-md-8">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <%= f.hidden_field :role, value: "graud" %>
      <div class="field">
        <%= f.label :age %><br />
        <%= f.select :age, options_for_select(18..60),{}, {class: 'form-control', autocomplete: "off"} %>
      </div>

      <div class="field">
        <%= f.label :street %><br />
        <%= f.text_field :street, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :city %><br />
        <%= f.text_field :city, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :state %><br />
        <%= f.text_field :state, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :country %><br />
        <%= country_select("user", "country", {}, {class: 'form-control'}) %>
      </div>

      <div class="field">
        <%= f.label :zipcode %><br />
        <%= f.text_field :zipcode, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :height %><br />
        <%= f.text_field :height, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :dob %><br />
        <%= f.text_field :dob, autocomplete: "off", class: "date" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  <div class="col-md-4"></div>
</div>

<style type="text/css">
  select{
    width: 77% !important;
  }
  input, select{
    margin-bottom: 10px !important;
  }
</style>
<script type="text/javascript">
  $(".date").datepicker({dateFormat: "dd/mm/yy"});
</script>