<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
      <%= f.label :recipients %>
      <%#= f.select(:recipients, User.all.collect {|p| [ p.email, p.id ] }, {}, { multiple: true , class: "form-control" })%>
      <%= f.select :recipients,
      User.where.not(id: current_user.id).collect { |u| [u.email, u.id] },
      { include_blank: true },
      {multiple: true , class: 'chosen-select form-control' }
      %>
    </div>
    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4  %>
    </div>

    <%= f.submit "Send Message", class: "btn btn-success" %>

<% end %>

<script>
  var ready;

  ready = function(){
      // enable chosen js
      $('.chosen-select').chosen({
          no_results_text: 'No results matched'
      });
  }

  $(document).ready(ready);
  // if using turbolinks
  $(document).on("page:load",ready);
</script>